#feed {
  /* feed position */
  position: absolute;
  top: 20vh;
  left: 25vw;

  /* feed dimensions */
  height: 65vh;
  width: 46vw;

  /* feed border */
  border-radius: 7px;

  /* feed overflow and scroll snapping */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0%;
}
