@keyframes searchAnimation {
  10% {
    transform: translate(-270%, 120%);
  }
  50% {
    transform: translate(270%, 120%);
  }
  60% {
    transform: translate(0, 0);
  }
}

@keyframes magnifyForSearch {
  10% {
    transform: scale(100%);
  }
  20% {
    transform: scale(120%);
  }  
  55% {
    transform: scale(120%);
  }
  60% {
    transform: scale(100%);
  }
}

#feedWrapper {
  position: absolute;
  top: 20vh;
  left: 25vw;

  height: 65vh;
  width: 46vw;
}

#feed {
  /* feed position */
  position: absolute;
  top: 2vh;
  left: 0;

  /* feed dimensions */
  height: 63vh;
  width: 46vw;

  /* feed border */
  border-radius: 7px;

  /* feed overflow and scroll snapping */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0%;
}

#resultsFor {
  position: absolute;
  height: 2vh;
  top: -2vh;

  padding: 0.6vh 0;

  background-color: transparent;

  color: var(--background-dark);

  z-index: 1;
}

#resultsFor h5 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  #resultsFor {
    color: var(--background-light);
  }
}
