.comment {
  position: relative;

  height: fit-content;
  width: 22.9vw;
  padding: 0.5vw;

  margin: 0;

  background-color: transparent;

  border-bottom-color: var(--gray-light);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.comment h5,
.comment p {
  margin: 0;
  width: 20.7vw;
  overflow-wrap: break-word;
}

.commentDownvote {
  color: var(--background-dark);
}

.commentAuthor h5 {
  display: inline-block;
  margin-left: 0%;
}

.commentAuthor {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
}

.commentContent {
  position: relative;
  left: 0;
  display: inline-block;
}

.commentUpvoteInfo {
  position: relative;
  left: 0;
  width: 2vw;
  display: inline-block;

  font-size: 60%;
}

.commentUpvoteInfo i {
  margin-bottom: 25%;
  margin-top: 10%;
  display: block;
}

.commentContentWrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.commentUpvotesNumber {
  margin-bottom: 25%;

  height: 2vh;
  width: 60%;
  border-radius: 7px;

  font-size: 0.7rem;
  font-weight: bold;
  font-family: var(--sans-serif-font);
}

@media (prefers-color-scheme: dark) {
  .commentDownvote {
    color: var(--background-light);
  }
}
