.comment {
  position: relative;

  height: fit-content;
  padding: 0.5vw;
  width: calc(100% - 1vw);

  margin: 0;

  background-color: transparent;

  border-bottom-color: var(--gray-light);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.commentInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
}

.commentAuthor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.commentUps {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment h5 {
  margin: 0;
}

.comment p {
  width: 100%;
  word-wrap: break-word;
}

@media screen and (max-width: 1200px) {
}

@media (prefers-color-scheme: dark) {
  
}
