.postMedia {
  /* media display */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 68%;
}

.postMedia video, .postMedia iframe {
  height: 100%;
  width: 100%;
}