@keyframes background-pan {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: start;

  margin: 6% auto;

  width: 96%;
  height: 61vh;
  padding: 1vh 2%;

  border-radius: 7px;
  border: 0;

  background-color: var(--background-light-darker);

  scroll-snap-align: start;
  scroll-snap-stop: always;

  overflow-y: hidden;
  overflow-x: hidden;
}

.post h2 {
  height: 16;
  margin: 2% 0;
  overflow-y: scroll;
}

.mediaContent {
  height: 100%;
  max-width: 100%;
  justify-self: center;
}

.mediaContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 58%;
  margin: 2% 0;
  align-self: center;
}

.post a {
  color: var(--background-dark);
}

[magnified="true"] {
  position: fixed;
  top: 0;
  left: 0;

  height: 96vh;
  width: 96vw;
  padding: 2vh 2vw;
  margin: 0;

  background-color: var(--gray-transparent);
  backdrop-filter: blur(10px);

  z-index: 10;
}

@media (hover: hover) {
  .canExpand:hover {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .post {
    background-color: var(--gray-darker);
  }
  .post a {
    color: var(--background-light);
  }
}
