@keyframes background-pan {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.post {
  /* post position */
  margin: 6% auto;

  /* post dimentions */
  width: 91%;
  height: 86%;
  padding: 2%;

  /* post border */
  border-radius: 7px;
  border: 0;

  /* post shadow */
  -webkit-box-shadow: 0px 10px 20px 0px var(--gray-light);
  -moz-box-shadow: 0px 10px 20px 0px var(--gray-light);
  box-shadow: 0px 10px 20px 0px var(--gray-light);

  /* post scrolling snap */
  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* post overflow */
  overflow-y: hidden;
  overflow-x: hidden;
}

.postText {
  width: 100%;
}

.post h3 {
  margin-top: 20px;
}

.isSelf h2 {
  max-height: 20%;

  animation: background-pan 3s linear infinite;

  background: rgb(23, 195, 219);
  background: linear-gradient(
    90deg,
    rgba(23, 195, 219, 1) 0%,
    rgba(41, 236, 184, 1) 30%,
    rgba(41, 236, 184, 1) 70%,
    rgba(23, 195, 219, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
}

.isSelftext {
  height: fit-content;
  max-height: 75%;
  width: 96%;
  padding: 0.5% 2%;

  border-radius: 7px;

  overflow-y: hidden;

  transition: 200ms;
}

.isSelftext:hover {
  background-color: var(--gray-light);
  cursor: pointer;
}

.isImage h2 {
  max-height: 20%;

  margin: 0;

  animation: background-pan 3s linear infinite;

  background: rgb(210, 23, 219);
  background: linear-gradient(
    90deg,
    rgba(210, 23, 219, 1) 0%,
    rgba(236, 41, 62, 1) 30%,
    rgba(236, 41, 62, 1) 70%,
    rgba(210, 23, 219, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;

  overflow-y: scroll;
}

.isImageText {
  height: fit-content;
  max-height: 15%;
  width: 96%;
  padding: 0.5% 2%;

  border-radius: 7px;

  overflow-y: hidden;

  transition: 200ms;
}

.isImageText:hover {
  background-color: var(--gray-light);
  cursor: pointer;
}

.imageWrapper {
  display: flex;
  justify-content: center;

  margin: 0.5% auto;
  height: 63%;
  width: fit-content;
  padding: 1% 2%;
  border-radius: 7px;

  transition: 200ms;
}

.imageWrapper:hover {
  background-color: var(--gray-light);
  cursor: pointer;
}

.imageWrapper img {
  height: 100%;
  max-width: 100%;

  border-radius: 3px;
}

.imageFullWrapper {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  height: 78%;
  width: fit-content;
  padding: 1% 2%;
  border-radius: 7px;

  transition: 200ms;
}

.imageFullWrapper img {
  height: 100%;
  max-width: 100%;

  border-radius: 3px;
}

.imageFullWrapper:hover {
  background-color: var(--gray-light);
  cursor: pointer;
}

.isImageFull h2 {
  max-height: 20%;

  margin: 0;

  animation: background-pan 3s linear infinite;

  background: rgb(58, 161, 180);
  background: linear-gradient(
    90deg,
    rgba(58, 161, 180, 1) 0%,
    rgba(243, 29, 253, 1) 50%,
    rgba(58, 161, 180, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;

  overflow-y: scroll;
}

.isIframe h2 {
  max-height: 20%;

  margin: 0;

  animation: background-pan 3s linear infinite;

  background: rgb(231, 157, 39);
  background: linear-gradient(
    90deg,
    rgba(231, 157, 39, 1) 0%,
    rgba(253, 39, 29, 1) 50%,
    rgba(231, 157, 39, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;

  overflow-y: scroll;
}

.iframeWrapper {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  height: 78%;
  width: fit-content;
  padding: 1% 2%;
  border-radius: 7px;

  transition: 200ms;
}

.iframeWrapper iframe {
  height: 100%;
  max-width: 100%;

  border: 0px;
  border-radius: 3px;
}

.iframeWrapper:hover {
  background-color: var(--gray-light);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .post {
    /* post shadow at dark scheme */
    background-color: var(--gray-darker);
    -webkit-box-shadow: 0px 10px 20px 0px var(--gray-light);
    -moz-box-shadow: 0px 10px 20px 0px var(--gray-light);
    box-shadow: 0px 10px 20px 0px var(--gray-darker);
  }
  .isImageText:hover {
    background-color: var(--gray);
  }
  .isSelftext:hover {
    background-color: var(--gray);
  }
  .imageWrapper:hover {
    background-color: var(--gray);
  }
  .imageFullWrapper:hover {
    background-color: var(--gray);
  }
  .iframeWrapper:hover {
    background-color: var(--gray);
  }
}
