::-webkit-scrollbar {
  /* scrollbar dimensions */
  width: 0.6vw;
}

::-webkit-scrollbar-thumb {
  /* scrollbar thumb styling */
  background-color: var(--accent-lighter);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  /* scrollbar thumb on hover behaviour */
  background-color: var(--accent);
}

::-webkit-scrollbar-track {
  /* scrollbar track styling */
  background-color: transparent;
}
