.popularPosts {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  position: absolute;
  height: 18vh;
  width: 46vw;
  left: 25vw;

  border-radius: 7px;

  z-index: 1;

  transition: 200ms;
}

#firstLoadPopular {
  height: 40vh;
  width: 70vw;
  left: 25vw;
}

.popularPostsTitle {
  position: absolute;
  height: 2.3vh;
  left: 25vw;
  top: 0vh;

  border-bottom-right-radius: 7px;
  padding: 0 10px;

  background-color: transparent;
  backdrop-filter: blur(5px);

  color: var(--background-light);

  z-index: 2;

  transition: 200ms;
}

#popularPostsTitleFirstLoad {
  left: 25vw;
}

.popularPostsTitle h5 {
  margin: 0;
}

.clickToScrollRight {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 18vh;
  width: 2vw;
  left: 69vw;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: 200ms;

  z-index: 2;
}

#clickToScrollRightFirstLoad {
  height: 40vh;
  width: 3vw;
  left: 92vw;
}

.clickToScrollRight:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
