#postComments {
  /* postComments position */
  position: absolute;
  right: 2%;
  top: 0%;

  /* postComments background */
  background-color: transparent;

  /* postComments dimensions */
  height: 92%;
  width: 24.5%;

  /* postComments border */
  border-radius: 7px;
}

#commentsInfo {
  /* commentsInfo display */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  /* commentsInfo position */
  position: relative;
  top: 0;

  /* commentsInfo dimensions */
  height: 9%;
  width: 100%;

  /* commentsInfo border */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  /* commentsInfo background */
  background-color: transparent;

  /* commentsInfo text */
  text-align: center;
  color: var(--background-dark);

  /* commentsInfo shadow */
  -webkit-box-shadow: 0px 10px 20px 0px var(--gray-light);
  -moz-box-shadow: 0px 10px 20px 0px var(--gray-light);
  box-shadow: 0px 10px 20px 0px var(--gray-light);
}

#commentsInfo h3 {
  margin: auto 0;
}

#commentsInfo i {
  font-size: 1.1rem;
}

#numOfCommentsPlaceholder {
  justify-self: center;

  border-radius: 7px;

  width: 70%;
}

#commentsName {
  justify-self: center;
}

#showMore {
  /* scroll down position */
  position: absolute;
  bottom: 0;

  /* scroll down dimensions */
  height: 7%;
  width: 100%;

  /* scroll down border */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  /* scroll down background */
  background-color: transparent;

  /* scroll down text */
  color: var(--background-dark);

  /* scroll down shadow */
  -webkit-box-shadow: 0px -10px 20px 0px var(--gray-light);
  -moz-box-shadow: 0px -10px 20px 0px var(--gray-light);
  box-shadow: 0px -10px 20px 0px var(--gray-light);

  /* scroll down transition */
  transition: 0.2s;
}

#showMore:hover {
  /* scroll down on hover */
  background-color: var(--gray-light-hover);
  cursor: pointer;
}

#showMore i {
  /* scroll down button position */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#comments {
  /* comments position */
  position: relative;

  /* comments dimensions */
  height: 84%;
  width: 100%;

  /* comments overflow */
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  #commentsInfo {
    /* comment info on dark scheme */
    color: var(--background-light);

    -webkit-box-shadow: inset 0px 0px 0px 2px var(--accent);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--accent);
    box-shadow: inset 0px 0px 0px 2px var(--accent);
  }

  #showMore {
    /* scroll down on dark scheme */
    color: var(--background-light);

    -webkit-box-shadow: inset 0px 0px 0px 2px var(--accent);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--accent);
    box-shadow: inset 0px 0px 0px 2px var(--accent);
  }

  #showMore:hover {
    background-color: transparent;

    -webkit-box-shadow: inset 0px 0px 0px 3px var(--accent);
    -moz-box-shadow: inset 0px 0px 0px 3px var(--accent);
    box-shadow: inset 0px 0px 0px 3px var(--accent);
  }
}
