#postComments {
  position: absolute;
  right: 2%;
  top: 18vh;
  top: calc(var(--vh, 1vh) * 18);

  background-color: var(--background-light-darker);

  height: 67vh;
  height: calc(var(--vh, 1vh) * 67);
  width: 24.5vw;

  border-radius: 7px;

  transition: 200ms;
}

#commentsInfo {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 0;

  height: 4vh;
  height: calc(var(--vh, 1vh) * 4);
  width: 24.5vw;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  background-color: var(--gray-light);

  text-align: center;
  color: var(--background-dark);

  transition: 200ms;
}

#commentsInfo h4 {
  margin: auto 0;
}

#commentsName {
  justify-self: center;
}

#showMore {
  position: absolute;
  bottom: 0;

  height: 4vh;
  height: calc(var(--vh, 1vh) * 4);
  width: 24.5vw;

  background-color: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(15px);

  transition: 0.2s;
}

#showMore i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#comments {
  position: absolute;

  height: 63vh;
  height: calc(var(--vh, 1vh) * 63);
  width: 100%;

  overflow-y: scroll;
}

#closeCommentSection {
  display: none;
  margin-right: 20%;
}

@media screen and (max-width: 1200px) {
  #postComments {
    position: absolute;
    left: 5vw;
    top: 95vh;
    top: calc(var(--vh, 1vh) * 95);

    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    width: 90vw;

    z-index: 4;
  }

  #commentsInfo {
    width: 90vw;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    background-color: var(--gray-light);

    z-index: 4;
  }

  #showMore {
    display: none;
  }

  #comments {
    height: 56vh;
    height: calc(var(--vh, 1vh) * 56);

    border-radius: 0px;
  }

  #closeCommentSection {
    display: inline-block;
  }
}

@media (hover: hover) {
  #showMore:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

  #closeCommentSection:hover {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  #commentsInfo {
    color: var(--background-light);
    background-color: var(--gray);
  }

  #postComments {
    background-color: var(--gray-darker);
  }
}
