.seeOriginalPost {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 67vh;
  top: calc(var(--vh, 1vh) * 67);
  left: 2vw;

  width: 20vw;
  height: 18vh;
  height: calc(var(--vh, 1vh) * 18);

  border-radius: 7px;

  background-color: var(--orange);

  transition: 200ms;
}

.seeOriginalPost a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  height: 100%;
  width: 100%;
}

#seeOriginalPostNotLoaded {
  background-color: var(--gray-light);
}

@media screen and (max-width: 1024px) {
  .seeOriginalPost {
    position: fixed;
    top: 75vh;
    top: calc(var(--vh, 1vh) * 75);
    left: 90vw;

    width: 10vw;
    height: 10vw;

    border-radius: 0px;

    background-color: transparent;

    z-index: 2;
  }

  .seeOriginalPost a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seeOriginalPost h2 {
    margin: 0;
  }

  .seeOriginalPost i {
    font-size: 9vw;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }

  #seeOriginalPostNotLoaded {
    opacity: 0;
    z-index: -3;
  }

  #originalPostText {
    display: none;
  }
}

@media (hover: hover) {
  #seeOriginalPostNotLoaded:hover {
    cursor: not-allowed;
  }
  .seeOriginalPost:hover {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  #seeOriginalPostNotLoaded {
    background-color: var(--gray);
  }
}
