.seeOriginalPost {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 67vh;
  left: 2vw;

  width: 20vw;
  height: 18vh;

  border-radius: 7px;

  background-color: var(--orange);

  transition: 200ms;
}

.seeOriginalPost:hover {
  cursor: pointer;
}

.seeOriginalPost a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  height: 100%;
  width: 100%;
}

#seeOriginalPostNotLoaded {
  background-color: var(--gray-light);
}

#seeOriginalPostNotLoaded:hover {
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  #seeOriginalPostNotLoaded {
    background-color: var(--gray);
  }
}
