#searchBehind {
  position: absolute;
  top: 2vh;
  top: calc(var(--vh, 1vh) * 2);
  left: 25vw;
}

#search {
  height: 6vh;
  height: calc(var(--vh, 1vh) * 6);
  width: 35vw;

  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-light);

  background-color: transparent;

  color: var(--background-dark);
  font-family: var(--sans-serif-font);
  font-size: 125%;

  transition: 0.2s;
}

#search:focus {
  outline: none;

  border-color: var(--orange);
}

#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#submitSearch {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 6vh;
  height: calc(var(--vh, 1vh) * 6);
  width: 6vw;

  vertical-align: top;

  border-top-right-radius: 3vh;
  border-top-right-radius: calc(var(--vh, 1vh) * 3);
  border-bottom-right-radius: 3vh;
  border-bottom-right-radius: calc(var(--vh, 1vh) * 3);
  border-width: 0px;
  border-style: solid;
  border-color: var(--gray-light);

  background-color: var(--orange);
  color: var(--background-light);
  font-family: var(--sans-serif-font);
  font-size: 100%;
  font-weight: bold;

  transition: 0.2s;
}

#submitSearch:active {
  background-color: var(--orange);
}

form {
  padding: 2px 0 0 0;
}

#sort {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;

  height: 6vh;
  height: calc(var(--vh, 1vh) * 6);
  width: 3vw;
  padding: 0 1vw;

  border-top-left-radius: 3vh;
  border-top-left-radius: calc(var(--vh, 1vh) * 3);
  border-bottom-left-radius: 3vh;
  border-bottom-left-radius: calc(var(--vh, 1vh) * 3);

  background-color: var(--gray-light);
  color: var(--background-light);
}

#sort h4 {
  margin: 0;
}

#submitSearch i {
  display: none;
}

#sort i {
  transform: translate(50%);
  transition: 200ms;
}

#sortOptions {
  display: none;

  position: absolute;
  top: 8vh;
  top: calc(var(--vh, 1vh) * 8);
  left: 25vw;

  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  border-radius: 7px;
  border-top-left-radius: 0;

  z-index: 4;
}

#sortOptions ul {
  color: var(--background-light);
  font-family: var(--sans-serif-font);

  margin: 0;
  padding: 0;

  list-style-type: none;
}

#sortOptions li {
  padding: 0.2vw 1vw;
  border: 1px solid transparent;

  transition: 100ms;
}

#sortOptions li[selectedOption="true"] {
  font-weight: bold;
}

#cancelButton {
  position: absolute;
  top: 2vh;
  top: calc(var(--vh, 1vh) * 2);
  left: 62.5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 6vh;
  height: calc(var(--vh, 1vh) * 6);

  color: red;

  z-index: 2;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (max-width: 600px) {
  #searchBehind {
    top: 0;
    left: 5vw;
  }

  #searchBehind h4 {
    display: none;
  }

  #search {
    height: 7vh;
    height: calc(var(--vh, 1vh) * 7);
    width: 76vw;

    font-size: 100%;
  }

  #submitSearch {
    height: 7vh;
    height: calc(var(--vh, 1vh) * 7);
    width: 7vw;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    font-size: 100%;
  }

  #submitSearch i {
    display: inline;
  }

  #sort {
    height: 7vh;
    height: calc(var(--vh, 1vh) * 7);
    width: 7vw;
    padding: 0;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    font-size: 100%;
  }

  #sortOptions {
    top: 7vh;
    top: calc(var(--vh, 1vh) * 7);
    left: 5vw;
  }

  #cancelButton {
    top: 1vh;
    top: calc(var(--vh, 1vh) * 1);
    left: 80vw;
  
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
  
    font-size: 3vh;
  }

  #sort i {
    transform: translate(0);
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #searchBehind {
    left: 5vw;
  }

  #search {
    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
    width: 76vw;

    font-size: 100%;
  }

  #submitSearch {
    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
    width: 7vw;

    border-top-right-radius: 2vh;
    border-top-right-radius: calc(var(--vh, 1vh) * 2);
    border-bottom-right-radius: 2vh;
    border-bottom-right-radius: calc(var(--vh, 1vh) * 2);

    font-size: 1.3vw;
  }

  #sort {
    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
    width: 5vw;

    border-top-left-radius: 2vh;
    border-top-left-radius: calc(var(--vh, 1vh) * 2);
    border-bottom-left-radius: 2vh;
    border-bottom-left-radius: calc(var(--vh, 1vh) * 2);

    font-size: 1.4vw;
  }

  #sortOptions {
    top: 6vh;
    top: calc(var(--vh, 1vh) * 6);
    left: 5vw;
  }

  #cancelButton {
    left: 84.5vw;

    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
  }
}

@media (hover: hover) {
  #cancelButton:hover {
    cursor: pointer;
  }
  #sortOptions li:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--background-light);
    border-top: 1px solid var(--background-light);
  }

  #sort:hover i {
    transform: translate(50%) rotate(-180deg);
  }

  #sort:hover {
    cursor: pointer;
    background-color: var(--gray);
  }

  #submitSearch:hover {
    cursor: pointer;
  }

  #search:hover {
    border-color: var(--orange);
  }
}

@media (prefers-color-scheme: dark) {
  #search {
    border-color: var(--gray);
    color: var(--background-light);
  }
  #sort {
    background-color: var(--gray);
  }
  @media (hover: hover) {
    #sort:hover {
      background-color: var(--gray-light);
    }
  }
}
