:root {
  /* Color variables */
  --orange: 	hsl(16, 100%, 50%);
  --background-dark: hsl(195, 46%, 5%);
  --background-light: hsl(0, 29%, 97%);
  --gray: hsl(0, 0%, 50%);
  --gray-light: hsl(0, 0%, 75%);
  --accent: hsl(179, 100%, 33%);

  /* Background and font colors */
  background-color: var(--background-light);
  color: var(--background-dark);

  /* Font families */
  --serif-font: 'Roboto Serif';
  --sans-serif-font: 'Roboto';
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Background and fotn colors in dark mode */
    background-color: var(--background-dark);
    color: var(--background-light);
  }
}