:root {
  /* Color and gradient variables */
  --orange: hsl(16, 100%, 50%);
  --background-dark: hsl(195, 46%, 5%);
  --background-dark-lighter: hsl(195, 46%, 10%);
  --background-light: hsl(0, 29%, 97%);
  --background-light-darker: hsl(30, 22%, 92%);
  --gray: hsl(0, 0%, 50%);
  --gray-darker: hsl(0, 0%, 10%);
  --gray-light: hsl(0, 0%, 75%);
  --gray-transparent: rgba(0, 0, 0, 0.2);
  --gray-light-hover: hsl(0, 0%, 85%);
  --accent: hsl(209, 54%, 59%);
  --accent-lighter: hsl(210, 75%, 89%);
  --loading-gradient: linear-gradient(
    90deg,
    var(--gray) 40%,
    var(--gray-light) 60%,
    var(--gray) 100%
  );

  /* Background and font colors */
  background-color: var(--background-light);
  color: var(--background-dark);

  /* Font families */
  --serif-font: "Roboto Serif";
  --sans-serif-font: "Roboto";

  /* Overflow setting */
  overflow: hidden;

  /* Animations */
  --loading-animation: loading 2s ease infinite;
} 

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

p,
span {
  /* Font family of p and span */
  font-family: var(--sans-serif-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Font family of headers */
  font-family: var(--sans-serif-font);
}

.isLoading {
  background: var(--loading-gradient);
  background-size: 400% 400%;
  animation: var(--loading-animation);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Background and fotn colors in dark mode */
    background-color: var(--background-dark);
    color: var(--background-light);
  }
}
