#topicsWrapper {
  position: absolute;
  top: 0;
  left: 2vw;

  width: 20vw;
  height: 65vh;
  height: calc(var(--vh, 1vh) * 65);

  border-radius: 7px;
}

#topicsTitle {
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#topics {
  height: 55vh;
  height: calc(var(--vh, 1vh) * 55);

  overflow-y: scroll;

  background-color: var(--background-light-darker);
  backdrop-filter: blur(25px);
}

.topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 1px;

  margin: 0 auto;
}

.topic i {
  transition: 200ms;
}

.topic:nth-child(1) {
  border-top: 0px;
}

.topic:nth-last-child(1) {
  border-bottom: 0px;
}

.topic h5 {
  margin: 2vh 2vw;
  margin-top: calc(var(--vh, 1vh) * 2);
}

@media screen and (max-width: 1200px) {
  #topicsWrapper {
    display: none;

    left: 0vw;

    height: 85vh;
    height: calc(var(--vh, 1vh) * 85);
    width: 30vw;

    z-index: 3;
  }

  #topicsTitle {
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
    backdrop-filter: blur(15px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  #topicsTitle h2 {
    font-size: 70%;
  }

  #topics {
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);

    background-color: var(--gray-transparent);
  }

  .topic h5 {
    font-size: 70%;
  }
}

@media (hover: hover) {
  .topic:hover {
    cursor: pointer;
    border-color: var(--gray-light);
  }

  .topic:hover i {
    transform: translate(20%, 0);
  }
}

@media (prefers-color-scheme: dark) {
  #topics {
    background-color: var(--gray-darker);
  }
  @media screen and (max-width: 1200px) {
    #topics {
      background-color: var(--gray-transparent);
    }
  }
  @media (hover: hover) {
    .topic:hover {
      border-color: var(--gray);
    }
  }
}
