#postInfo {
  /* postInfo position */
  position: absolute;
  right: 2%;
  top: 0;

  /* postInfo dimensions */
  width: 22.5vw;
  height: 14vh;
  padding: 1vh 1vw;

  /* postInfo background */
  background-color: var(--background-light-darker);

  /* postInfo border */
  border-radius: 7px;

  transition: 200ms;
}

#postInfo h4, #postInfo h5, #postInfo h6 {
  margin: 0.1vh 0;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
}
