#postInfo {
  /* postInfo position */
  position: absolute;
  right: 81%;
  top: 15%;

  /* postInfo dimensions */
  width: 17%;
  height: 50%;

  /* postInfo background */
  background-color: transparent;

  /* postInfo border */
  border-radius: 7px;
}

#postInfo::before {
  /* Divider position */
  position: absolute;
  top: 65%;

  /* Divider display */
  display: inline-block;

  /* Divider dimensions */
  height: 1.5%;
  width: 100%;
  border-radius: 7px;

  /* Divider styling */
  content: "";
  background-color: var(--accent);
}

.informationPart {
  /* informationPart dimensions */
  height: 50%;
  width: 100%;

  /* information text */
  text-align: start;
  font-weight: bold;
  font-family: var(--sans-serif-font);

  /* transition */
  transition: 0.2s;
}

#subredditNamePlaceholder {
  text-align: start;
}

#subredditImgPlaceholder {
  /* subreddit image position */
  position: absolute;
  top: 5%;
  left: 5%;

  /* subreddit image dimensions */
  height: 15%;
  width: 15%;
  border-radius: 50%;
}

#subredditImgPlaceholder img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#subredditNamePlaceholder {
  /* subreddit name position */
  position: absolute;
  top: 5%;
  left: 25%;

  /* subreddit name dimensions */
  height: 15%;
  width: 70%;
  border-radius: 7px;
}

#userNamePlaceholder {
  /* user name position */
  position: absolute;
  top: 25%;
  left: 5%;

  /* user name dimensions */
  height: 15%;
  width: 90%;
  border-radius: 7px;
}

#datePlaceholder {
  /* date position */
  position: absolute;
  top: 45%;
  left: 5%;

  /* date dimensions */
  height: 15%;
  width: 90%;
  border-radius: 7px;
}

#upvotes {
  /* upvotes icon position */
  position: absolute;
  bottom: 15%;
  left: 5%;

  /* upvotes icon dimensions */
  height: 15%;
  width: 15%;
  border-radius: 7px;
}

#downvotes {
  /* downvotes icon position */
  position: absolute;
  bottom: 15%;
  right: 5%;

  /* downvotes icon dimensions */
  height: 15%;
  width: 15%;
  border-radius: 7px;
}

#numberOfUpvotesPlaceholder {
  /* upvotes icon position */
  position: absolute;
  bottom: 15%;
  right: 25%;

  /* upvotes icon dimensions */
  height: 15%;
  width: 50%;
  border-radius: 7px;

  text-align: center;
}

i {
  /* reaction icons size */
  font-size: 150%;
}

.centerText {
  display: flex;
  justify-content: start;
  align-items: center;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
