header {
  /* Header position */
  position: absolute;

  /* Header dimensions */
  width: 100%;
  height: 15vh;
}

header img {
  /* logo position */
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);

  /* logo dimensions */
  height: 50%;
}

