main {
  /* Main position */
  position: absolute;
  top: 15vh;

  /* Main dimensions */
  width: 100%;
  height: 75vh;

  /* Main overflow */
  overflow: hidden;
}

#postComments {
  /* postComments position */
  position: absolute;
  right: 2%;
  top: 0;

  /* postComments background */
  background-color: var(--gray);

  /* postComments dimensions */
  height: 100%;
  width: 24.5%;

  /* postComments border */
  border-radius: 7px;
}
